#nutrition-table {
	border-collapse: collapse;
	font-size: .8em;

	height: auto;
	.nutrition-table__nutrient-name,
	.nutrition-table__nutrient-amount {
		padding: .5em;
	}
	.nutrition-table__nutrient-name {
		&_subnutrient {
			padding-left: 1.5em;
		}
	}
	.nutrition-table__nutrient-name {
		text-align: left;
		width: 60%;
	}
	.nutrition-table__nutrient-amount {
		text-align: right;
	}

	.nutrition-table, th, td {
   	border: 1px solid #e0e0e0;
	}
	tr:nth-child(even) {
		background-color: #f2f2f2
	}
	th {
		 background-color: #4CAF50;
		 color: white;
		 border-color: #3f9842;
	}
}
